---
BasedOnStyle: Google
AccessModifierOffset: "0"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlinesLeft: "true"
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: "false"
BinPackParameters: "false"
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
ColumnLimit: "160"
ExperimentalAutoDetectBinPacking: "false"
IndentWidth: "4"
Language: Cpp
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
Standard: Cpp11
TabWidth: "4"
UseTab: Never
