---
BasedOnStyle: Google
AccessModifierOffset: "-4"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlinesLeft: "true"
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: "false"
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: "false"
BinPackParameters: "false"
BreakConstructorInitializers: BeforeComma
ColumnLimit: "100"
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
Cpp11BracedListStyle: "true"
DerivePointerAlignment: "false"
ExperimentalAutoDetectBinPacking: "false"
FixNamespaceComments: "true"
IndentPPDirectives: "BeforeHash"
IndentWidth: "4"
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Standard: Cpp11
TabWidth: "4"
UseTab: Never
